.desktopOnly {
    display: none;
}

.mobileOnly {
    display: none;
}

@media (min-width: 600px) {
    .desktopOnly {
        display: block;
    }

    .mobileOnly {
        display: none;
    }
}

@media (max-width: 599px) {
    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }
}