.dark-medium-contrast {
  --md-sys-color-primary: rgb(164 216 159);
  --md-sys-color-surface-tint: rgb(159 212 155);
  --md-sys-color-on-primary: rgb(0 27 4);
  --md-sys-color-primary-container: rgb(107 157 105);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(189 208 184);
  --md-sys-color-on-secondary: rgb(11 26 11);
  --md-sys-color-secondary-container: rgb(132 150 128);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(165 211 217);
  --md-sys-color-on-tertiary: rgb(0 26 29);
  --md-sys-color-tertiary-container: rgb(107 152 158);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 15);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(16 20 15);
  --md-sys-color-on-surface: rgb(248 252 243);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(198 205 193);
  --md-sys-color-outline: rgb(158 165 154);
  --md-sys-color-outline-variant: rgb(126 133 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 219);
  --md-sys-color-inverse-on-surface: rgb(39 43 37);
  --md-sys-color-inverse-primary: rgb(35 81 38);
  --md-sys-color-primary-fixed: rgb(187 240 182);
  --md-sys-color-on-primary-fixed: rgb(0 22 3);
  --md-sys-color-primary-fixed-dim: rgb(159 212 155);
  --md-sys-color-on-primary-fixed-variant: rgb(15 63 22);
  --md-sys-color-secondary-fixed: rgb(213 232 207);
  --md-sys-color-on-secondary-fixed: rgb(6 20 7);
  --md-sys-color-secondary-fixed-dim: rgb(185 204 180);
  --md-sys-color-on-secondary-fixed-variant: rgb(42 58 41);
  --md-sys-color-tertiary-fixed: rgb(188 235 241);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 23);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(8 60 66);
  --md-sys-color-surface-dim: rgb(16 20 15);
  --md-sys-color-surface-bright: rgb(54 58 52);
  --md-sys-color-surface-container-lowest: rgb(11 15 10);
  --md-sys-color-surface-container-low: rgb(24 29 23);
  --md-sys-color-surface-container: rgb(28 33 27);
  --md-sys-color-surface-container-high: rgb(39 43 37);
  --md-sys-color-surface-container-highest: rgb(50 54 48);
}
